<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Booked</title>
</head>
<body>
    <h1>Room booked successfully!!</h1>
    <p>Your Reservation id is {{reservation_id}}</p>
    <p>Do you want to cancel the reservation?</p>
    <form action="/cancel_booking",methods="GET">
        <label for="reservation_id">Reservation ID:</label>
        <input type="text" id="reservation_id" name="reservation_id" required><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>
